@font-face {
    font-family: 'nunito-bold';
    src: local('nunito-bold'), url("../fonts/Nunito-SemiBold.ttf") format('truetype');
}

.login{
    font-family: 'nunito-bold', sans-serif;
    color: #1890FF !important;
    max-width: 450px;
    margin: auto;
    -webkit-box-shadow: 0 1px 10px #999;
    -moz-box-shadow: 0 1px 10px #999;
    box-shadow: 0 1px 10px #999;
}

.login .log-button{
    background-color: #1890FF;
    border-color: #1890FF;
}

.login .header{
    font-size: 22px;
}